### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [51]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [52]:
total_palyer = purchase_data["SN"].nunique()
Players =pd.DataFrame({"Total Player": total_palyer}, index=[0])
Players.head()

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
unique_item = purchase_data["Item ID"].nunique() # nunique gets us the count of unique Item ID
average_price = purchase_data["Price"].mean()
number_of_purchase = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

#creating a DataFrame

summary_data = pd.DataFrame({"Number of Unique Items ": unique_item,
                             "Average Price": average_price,
                             "Number of Purchases" : number_of_purchase,
                             "Total Revenue" : total_revenue}, index=[0])
summary_data.round(2) # .round(2) is used for rounding up the decimal by 2

   Number of Unique Items   Average Price  Number of Purchases  Total Revenue
0                      183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [54]:
df =purchase_data[["Purchase ID","SN","Age","Gender","Price"]]

In [55]:
new_df =df.drop_duplicates(["SN"], keep = "first")

In [56]:
total_count =new_df["Gender"].value_counts()

In [57]:
percent_player = new_df["Gender"].value_counts(normalize=True) * 100

In [58]:
gender_demograpic_summary = pd.DataFrame({"Total Count": total_count,
                               "Percentage of Players": percent_player })
gender_demograpic_summary.round(2)

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [59]:
purchase_count = df["Gender"].value_counts()

In [60]:
avg_purchase_price = df.groupby(["Gender"])["Price"].mean()

In [61]:
total_purchase_value = df.groupby(["Gender"])["Price"].sum()

In [62]:
avg_per_person = df.groupby(["Gender"])["Price"].sum()/new_df["Gender"].value_counts()

In [63]:
Purchase_analysis = pd.DataFrame({"Purchase Count" : purchase_count,
                                     "Average Purchase Price" : avg_purchase_price,
                                     "Total Purchase Value" : total_purchase_value,
                                     "Avg Total Purchase per Person": avg_per_person})
Purchase_analysis.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
bins = [0,9, 14, 19, 24, 29, 34, 39, 100]
names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
new_df["Summary by Age"] = pd.cut(new_df["Age"], bins, labels=names)

C:\Users\Bashira\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [65]:
age_count = new_df.groupby(["Summary by Age"])["Age"].count()

In [66]:
age_percent = age_count/new_df["Age"].count()*100

## Purchasing Analysis (Age)

In [67]:
age_demo_summary = pd.DataFrame({"Total Count": age_count,
                                 "Percentage of players": age_percent})
age_demo_summary.round(2)

                Total Count  Percentage of players
Summary by Age
<10                      17                   2.95
10-14                    22                   3.82
15-19                   107                  18.58
20-24                   258                  44.79
25-29                    77                  13.37
30-34                    52                   9.03
35-39                    31                   5.38
40+                      12                   2.08

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
bins = [0,9, 14, 19, 24, 29, 34, 39, 100]
names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Summary"] = pd.cut(df["Age"], bins, labels=names)

C:\Users\Bashira\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [69]:
age_count = df.groupby(["Age Summary"])["Age"].count()

In [70]:
avg_purchase_price = df.groupby(["Age Summary"])["Price"].mean()

In [71]:
total_purchase_value = df.groupby(["Age Summary"])["Price"].sum()

In [72]:
avg_per_person = df.groupby(["Age Summary"])["Price"].sum()/new_df.groupby(["Summary by Age"])["Age"].count()

In [73]:
Age_Purchase_analysis = pd.DataFrame({"Purchase Count" : age_count,
                                     "Average Purchase Price" : avg_purchase_price,
                                     "Total Purchase Value" : total_purchase_value,
                                     "Avg Total Purchase per Person": avg_per_person})
Age_Purchase_analysis.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
name_df = purchase_data[["Purchase ID","SN","Age","Gender","Price"]]

In [75]:
purchase_count_df = name_df["SN"].value_counts()

In [76]:
avg_purchase_price = name_df.groupby(["SN"])["Price"].mean()

In [77]:
total_purchase_value = name_df.groupby(["SN"])["Price"].sum()

In [78]:
Top_seller_df = pd.DataFrame({"Total count": purchase_count_df,
                              "Average Purchase Price": avg_purchase_price,
                              "Total Purchase Value": total_purchase_value})
Top_seller_df.sort_values(by= ["Total Purchase Value"],ascending=False).head().round(2)

             Total count  Average Purchase Price  Total Purchase Value
Lisosia93              5                    3.79                 18.96
Idastidru52            4                    3.86                 15.45
Chamjask73             3                    4.61                 13.83
Iral74                 4                    3.40                 13.62
Iskadarya95            3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [79]:
popular_item_df = purchase_data[["Item ID","Item Name", "Price"]]

In [80]:
purchase_count = popular_item_df.groupby(["Item ID","Item Name"])["Item ID"].count()

In [81]:
item_price = popular_item_df.groupby(["Item ID","Item Name"])["Price"].max() # .max will get max value from every cell in groupby

In [82]:
total_purchase_value = popular_item_df.groupby(["Item ID","Item Name"])["Price"].sum()

In [83]:
popular_item_summary = pd.DataFrame({"Total Count":purchase_count,
                              "Item Price":item_price,
                              "Total Purchase Value": total_purchase_value})

In [86]:
popular_item_summary.sort_values(by= ["Total Count"],ascending=False).round(2)

,,Total Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
103,Singed Scalpel,8,4.35,34.80
75,Brutality Ivory Warmace,8,2.42,19.36
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
59,"Lightning, Etcher of the King",8,4.23,33.84
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
34,Retribution Axe,8,2.22,17.76
92,Final Critic,8,4.88,39.04
53,Vengeance Cleaver,7,2.05,14.35
110,Suspension,7,1.44,10.08
7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
71,Demise,7,1.61,11.27
117,"Heartstriker, Legacy of the Light",7,1.79,12.53
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
85,Malificent Bag,7,1.75,12.25
164,Exiled Doomblade,7,1.63,11.41
141,Persuasion,7,3.19,22.33
78,"Glimmer, Ender of the Moon",7,4.40,30.80
102,Avenger,6,3.44,20.64
129,"Fate, Vengeance of Eternal Justice",6,1.54,9.24
93,Apocalyptic Battlescythe,6,1.97,11.82
54,Eternal Cleaver,6,2.50,15.00
3,Phantomlight,6,2.49,14.94
2,Verdict,6,2.48,14.88
40,Second Chance,6,2.52,15.12
...,...,...,...,...
81,Dreamkiss,2,3.61,7.22
6,Rusty Skull,2,3.70,7.40
18,"Torchlight, Bond of Storms",2,4.65,9.30
26,Unholy Wand,2,1.12,2.24
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
30,Stormcaller,2,2.21,4.42
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
132,Persuasion,2,3.33,6.66
63,Stormfury Mace,2,4.99,9.98
56,Foul Titanium Battle Axe,2,2.92,5.84
127,"Heartseeker, Reaver of Souls",2,3.92,7.84
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
125,Whistling Mithril Warblade,2,1.00,2.00
43,Foul Edge,2,3.54,7.08
115,Spectral Diamond Doomblade,2,2.04,4.08
33,Curved Axe,2,1.16,2.32
31,Trickster,2,1.55,3.10
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
42,The Decapitator,1,1.75,1.75
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
126,Exiled Mithril Longsword,1,2.00,2.00
51,Endbringer,1,4.66,4.66
90,Betrayer,1,2.94,2.94
104,Gladiator's Glaive,1,1.93,1.93
23,Crucifer,1,1.99,1.99
180,Stormcaller,1,3.36,3.36
91,Celeste,1,4.17,4.17
134,Undead Crusader,1,4.50,4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [85]:
popular_item_summary.sort_values(by= ["Total Purchase Value"],ascending=False).head().round(2)

,,Total Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80